## --------------------
## DON'T EDIT THIS FILE
## --------------------
## Engine: yamlinc@0.0.64
## Source: index.yaml

openapi: 3.0.0
servers:
  - url: 'https://www.airmnb.com/api/1.0'
  - url: 'https://www.airmombaby.com/api/1.0'
info:
  description: >-
    This is the API design for Air Mom & Baby Global
    [https://www.airmombaby.com](https://www.airmombaby.com) and Air Mom & Baby
    China [https://www.airmnb.com](https://www.airmnb.com).
  version: '1.0'
  title: Airmnb API design
  termsOfService: pendingd
  contact:
    email: mr.shaojun@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: func
    description: Functional APIs
  - name: res
    description: Resource APIs
paths:
  /login:
    get:
      tags:
        - func
      summary: Native user login
      requestBody:
        $ref: '#/components/requestBodies/NativeUserLogin'
      responses:
        '200':
          $ref: '#/components/responses/LoginResponse'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  '/login?use={sso_provider}':
    get:
      tags:
        - func
      summary: Native user login
      parameters:
        - name: sso_provider
          in: query
          required: true
          description: 'SSO provider, shouldbe google, facebook or wechat'
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/NativeUserLogin'
      responses:
        '200':
          $ref: '#/components/responses/LoginResponse'
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /login/weapp:
    get:
      tags:
        - func
      summary: Wexin mini-program login
      parameters:
        - name: code
          in: query
          required: true
          description: Wexin code derived after calling wx.login()
          schema:
            type: string
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  '/authentication_response?state={use:''google'',secret:''''}':
    get:
      tags:
        - func
      summary: SSO callback URL
      operationId: updatePet
      responses:
        '302':
          description: Successfully logged in and redirect to the home page
          headers:
            Location:
              schema:
                type: integer
                example: /
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/400'
  '/logout/{userId}':
    post:
      tags:
        - func
      summary: Airmnb logout
      parameters:
        - name: userId
          in: path
          description: Airmnb userId
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Successfully logged out.
  /about/us:
    get:
      tags:
        - func
      summary: Airmnb statistic information
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutUs'
  /about/stat:
    get:
      tags:
        - func
      summary: Airmnb statistic information
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stat'
  /about/version:
    get:
      tags:
        - func
      summary: Airmnb platform version information
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /health-check:
    get:
      tags:
        - func
      summary: For load balancer health check
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                type: string
                example: OK
  '/users/{userId}':
    get:
      tags:
        - res
      summary: get user object
      parameters:
        - name: userId
          in: path
          description: Airmnb userId
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: existing user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags:
        - res
      summary: update user object
      parameters:
        - name: userId
          in: path
          description: Airmnb userId
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: updated user object
  /users:
    post:
      tags:
        - res
      summary: create a new user object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: created
  '/babies/{babyId}':
    get:
      tags:
        - res
      summary: get baby object
      parameters:
        - name: babyId
          in: path
          description: Airmnb babyId
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: existing user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Baby'
    put:
      tags:
        - res
      summary: update baby object
      parameters:
        - name: babyId
          in: path
          description: Airmnb babyId
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Updated
    delete:
      tags:
        - res
      summary: Delete a baby object
      parameters:
        - name: babyId
          in: path
          description: Airmnb babyId
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: Deleted
  /babies:
    post:
      tags:
        - res
      summary: create a new baby for a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Baby'
      responses:
        '201':
          description: Created
components:
  schemas:
    Stat:
      type: object
      properties:
        totalRegisteredUsers:
          type: integer
        totalOnlineUsers:
          type: integer
        totalProviders:
          type: integer
        totalBabies:
          type: integer
        totalActivities:
          type: integer
        totalBookings:
          type: integer
        totalTransactions:
          type: integer
    AboutUs:
      type: object
      properties:
        company:
          type: string
          example: Air Mom & Baby is a good company. Blah
        content1:
          type: string
        content2:
          type: string
        content3:
          type: string
        contact:
          type: string
          example: sales@airmnb.com
    Version:
      type: object
      properties:
        app:
          type: object
          properties:
            releaseVersion:
              type: string
              example: 1.0.87
            commitHash:
              type: string
              format: uuid
              example: 6c48b4fc77bc7023ad5afc75961e24c1ff7c4da7
        web:
          type: object
          properties:
            releaseVersion:
              type: string
              example: 1.0.103
            commitHash:
              type: string
              format: uuid
              example: 8c9a40deb331569b16781cabd6d8921c620b9793
        weapp:
          type: object
          properties:
            releaseVersion:
              type: string
              example: 1.0.15
            commitHash:
              type: string
              format: uuid
              example: 0ec6204b4c4df166dc03f54edddb0cd1285673c8
    User:
      type: object
      properties:
        userId:
          type: string
          format: uuid
          description: Amb user's ID
          example: 9aa7bb47-90fb-45a1-9020-976464b08b65
        accountName:
          type: string
          description: >-
            Amb user name, unique across the whole Airmnb world. Once created,
            cannot change
          example: superopengl
        fullName:
          type: string
          description: >-
            Like "邵俊" which is the fullname in Chinese as Chinese users rarely
            separate to first name and last name
          example: 邵俊
        firstName:
          type: string
          example: Jun
        lastName:
          type: string
          example: Shao
        gender:
          type: boolean
          example: false
        dob:
          type: string
          format: date
          example: '2018-12-31'
        email:
          type: string
          format: email
          example: test@airmombaby.com
        phone:
          type: string
          example: '04051234567'
        language:
          type: string
          enum:
            - en
            - ch
          description: The user preferred UI language
          example: en
        wechatOpenId:
          type: string
          description: >-
            WeChat openid if the user is from WeApp. openid is the value
            returned by calling wx.login()
        googleSsoId:
          type: string
          description: Usually can be the gmail address derived from Google SSO
        facebookSsoId:
          type: string
          description: Usually Facebook user id derived from Facebook SSO
        createAt:
          type: string
          format: date-time
          description: The timestamp (with timezone info) the user was created initially
          example: '2018-04-17T14:00:33.591Z'
      required:
        - userId
    Provider:
      description: >-
        a provider is user object with certain must-have properites, like
        fullname, identity ID (passport or ABN), address.
      type: object
      properties:
        userId:
          type: string
          format: uuid
          description: Amb user's ID
        username:
          type: string
          description: >-
            Amb user name, unique across the whole Airmnb world. Once created,
            cannot change.
        fullname:
          type: string
          description: >-
            Like "邵俊" which is the fullname in Chinese as Chinese users rarely
            separate to first name and last name
        firstname:
          type: string
        lastname:
          type: string
        gender:
          type: boolean
        dob:
          type: string
          format: date
        email:
          type: string
          format: email
        phone:
          type: string
        createAt:
          type: string
          format: date-time
          description: The timestamp (with timezone info) the user was created initially
        identitytype:
          type: string
          enum:
            - ID
            - passport
            - ABN
            - drivelicense
            - others
        identitynumber:
          type: string
        address:
          $ref: '#/components/schemas/Venue'
    Venue:
      type: object
      properties:
        lng:
          type: number
          example: 150.34882763
        lat:
          type: number
          example: -30.4589329
        addr1:
          type: string
          example: Unit 1205
        addr2:
          type: string
          example: Archor street
        addr3:
          type: string
        city:
          type: string
          example: Sydney
        state:
          type: string
          example: NSW
        country:
          type: string
          example: Australia
        postcode:
          type: string
          example: '2001'
      required:
        - lng
        - lat
        - addr1
        - city
        - state
        - country
        - postcode
    Baby:
      type: object
      properties:
        babyId:
          type: string
          format: uuid
        babyName:
          type: string
          description: >-
            Baby's nickname. Considering that parents may not want to disclose
            the baby's real name.
          example: Alice
        gender:
          type: integer
          description: '1 for girl, 2 for boy'
        dob:
          type: string
          format: date
          example: '2018-12-31'
        language:
          type: string
          enum:
            - English
            - Mandarin
          description: The user preferred UI language
          example: en
        createdByUserId:
          type: string
          format: uuid
          description: baby's parent's ID
          example: 44444444-4444-4444-4444-976464b08b65
      required:
        - babyId
        - babyName
        - gender
        - dob
        - createdByUserId
    Activity:
      type: object
      properties:
        activityId:
          type: string
          format: uuid
          example: 1237bb47-90fb-bd1-4320-976464b04567
        providerId:
          type: string
          format: uuid
          example: 99999999-9999-999-9999-976464b04567
        title:
          type: string
          example: Funny music lesson
        description:
          type: string
          example: >-
            I am a female music teacher who can teach singing and drum. Please
            join me.
        cap:
          type: integer
          example: maximum children I can serve at a time
        price:
          type: string
          format: currency
          description: the total price for this activity. Can be 0 for free activity.
          example: $100
        acceptagemin:
          type: integer
          description: the minimum child age. Not specifying means no limit
          example: 6
        acceptagemax:
          type: integer
          description: the maximum child age. Not specifying means no limit
          example: 12
        acceptgender:
          type: integer
          description: '0 or 3 means either boy or girl. 1 for girl, 2 for boy'
          example: 3
        startat:
          type: string
          format: date-time
          example: '2018-04-17T14:00:00.000Z'
        endat:
          type: string
          format: date-time
          example: '2018-04-17T16:00:00.000Z'
        active:
          type: boolean
          description: >-
            if the activity is active. Provider can cancel or close an activity
            before its starting
          example: true
        language:
          type: integer
          description: >-
            The language the service will be provided in. 1 for English, 2 for
            Mandarin
          example: 3
        createAt:
          type: string
          format: date-time
          description: The timestamp (with timezone info) the user was created initially
          example: '2018-04-17T14:00:33.591Z'
      required:
        - nactivityid
        - providerId
        - title
        - description
        - cap
        - price
        - startat
        - endat
        - createAt
    Slot:
      description: An activity time slot
      type: object
      properties:
        slotId:
          type: string
          format: uuid
        activityId:
          type: string
          format: uuid
        sequenceNumber:
          type: integer
          description: >-
            The sequence number of this slot in the parent activity, in time
            order.
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
    ActivityFeedback:
      type: object
      properties:
        activityId:
          type: string
          format: uuid
          example: 1237bb47-90fb-bd1-4320-976464b04567
        bookingid:
          type: string
          format: uuid
          example: 33333333-3333-333-3333-976464b04567
        providerId:
          type: string
          format: uuid
          example: 99999999-9999-999-9999-976464b04567
        consumerid:
          type: string
          format: uuid
          example: 11111111-1111-111-1111-976464b04567
        content:
          type: string
          description: Within 140 unicode characters.
          example: >-
            Good service and nice guy. Thank you Alice, my girl had a very good
            time with you!
        staring:
          type: integer
          description: '0-5, increment by 1'
          example: 5
        createAt:
          type: string
          format: date-time
          description: The timestamp (with timezone info) the user was created initially
          example: '2018-04-17T14:00:33.591Z'
      required:
        - activityId
        - bookingid
        - providerId
        - consumerid
        - content
        - staring
        - createAt
    Booking:
      type: object
      properties:
        bookingid:
          type: string
          format: uuid
          example: 33333333-3333-333-3333-976464b04567
        sequenceid:
          type: integer
          description: The sequencial integer of the booking for this activity
          example: 1
        activityId:
          type: string
          format: uuid
          example: 1237bb47-90fb-bd1-4320-976464b04567
        providerId:
          type: string
          format: uuid
          example: 99999999-9999-999-9999-976464b04567
        consumerid:
          type: string
          format: uuid
          example: 11111111-1111-111-1111-976464b04567
        status:
          type: integer
          description: >-
            1 active, 2 checkedin, 4 finished, 8 cancelled, 16 terminated, 32
            inactive
          example: 1
        createAt:
          type: string
          format: date-time
          description: The timestamp (with timezone info) the user was created initially
          example: '2018-04-17T14:00:33.591Z'
      required:
        - bookingid
        - activityId
        - providerId
        - consumerid
        - status
        - createAt
  requestBodies:
    NativeUserLogin:
      description: Native user login request
      content:
        application/json:
          schema:
            type: object
            properties:
              accountName:
                type: string
                example: superopengl
              password:
                type: string
                example: Password&&1234
  responses:
    '400':
      description: 4XX client end error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Translated message that can be shown on UI.
                example: The number isn't in a valid format.
              errorDetail:
                type: string
                description: Only for debuggin purpose. Always in English
                example: >-
                  This is an NumberInavlidError -- stack line 49 at app.pyc
                  blah.
    '500':
      description: 5XX server end error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Translated message that can be shown on UI.
                example: The database cannot be found.
              errorDetail:
                type: string
                description: Only for debuggin purpose. Always in English
                example: DbConnectionError -- stack line 54 at database.pyc blah.
    LoginResponse:
      description: 'Login response, no matter if it''s native or via SSO.'
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Login successfully (translated)
              items:
                type: array
                items:
                  $ref: '#/components/schemas/User'
              extra:
                type: object
                properties:
                  authToken:
                    type: string
                    example: <auth token>
