## --------------------
## DON'T EDIT THIS FILE
## --------------------
## Engine: yamlinc@0.0.64
## Source: index.yaml

openapi: 3.0.0
servers:
  - url: 'https://www.airmnb.com/api/1.0.0'
  - url: 'https://www.airmombaby.com/api/1.0.0'
info:
  description: >-
    This is the API design for Air Mom & Baby Global
    [https://www.airmombaby.com](https://www.airmombaby.com) and Air Mom & Baby
    China [https://www.airmnb.com](https://www.airmnb.com).
  version: 1.0.0
  title: Airmnb API design
  termsOfService: pending
  contact:
    email: mr.shaojun@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: func
    description: Functional APIs
  - name: res
    description: Resource APIs
paths:
  /login/weapp:
    get:
      tags:
        - func
      summary: Wexin mini-program login
      parameters:
        - name: code
          in: query
          description: Wexin code derived after calling wx.login()
          schema:
            type: string
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /login/google:
    get:
      tags:
        - func
      summary: Google SSO
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                type: string
  /login/google/callback:
    get:
      tags:
        - func
      summary: Google SSO callback URL
      operationId: updatePet
      responses:
        '302':
          description: Successfully logged in and redirect to the home page
        '403':
          description: No permissions
  '/logout/{userid}':
    get:
      tags:
        - func
      summary: Airmnb logout
      parameters:
        - name: userid
          in: path
          description: Airmnb userid
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '302':
          description: redirect to login
          headers:
            location:
              schema:
                type: string
  /stat:
    get:
      tags:
        - func
      summary: Airmnb statistic information
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stat.yaml'
  /health-check:
    get:
      tags:
        - func
      summary: For load balancer health check
      responses:
        '200':
          description: successful login
          content:
            application/json:
              schema:
                type: string
  '/users/{userid}':
    get:
      tags:
        - res
      summary: get user object
      parameters:
        - name: userid
          in: path
          description: Airmnb userid
          schema:
            type: string
            format: uuid
          required: true
      responses:
        '200':
          description: existing user
          content:
            application/json:
              schema: {}
components:
  schemas:
    Stat:
      type: object
      properties:
        totalRegisteredUsers:
          type: integer
        totalOnlineUsers:
          type: integer
        totalProviders:
          type: integer
        totalBabies:
          type: integer
        totalActivities:
          type: integer
        totalBookings:
          type: integer
        totalTransactions:
          type: integer
    User:
      type: object
      properties:
        userid:
          type: string
          format: uuid
          description: Amb user's ID
        username:
          type: string
        fullname:
          type: string
        firstname:
          type: string
        lastname:
          type: string
        gender:
          type: boolean
        dob:
          type: string
          format: date
        email:
          type: string
          format: email
        phone:
          type: string
  requestBodies: {}
